@model List<User>
<h1>ورود</h1>
<table class="table table-hover table-bordered table-responsive w-100">
    <tr>
        <td>نام</td>
    </tr>
    @foreach (var la in Model)
    {
        <tr>
            <td>@la.Name</td>
            <td>
                <form asp-controller="Home" asp-action="SelectTranslate" asp-route-id="@la.Id" method="get">
                    <input type="submit" class="btn-sm btn-danger" value="ورود">
                </form>
            </td>
        </tr>
    }
</table>